<div class="max-w-55rem mx-auto">
    <div class="mb-3">
        <h1 class="font-bold text-4xl">Suggestion Title Here <span class="font-light">#1</span></h1>
        <div class="flex gap-2">
            <p-tag
                value="Open"
                [rounded]="true"
                severity="success"
                icon="pi pi-sort-alt"
            />
            <p>
                Someone suggested changes on date
            </p>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Discussion">
            <app-comment />
            <app-comment />
            <app-comment />

            <div class="my-2 entry-container">
                <div class="entry-avatar pt-1">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
                        styleClass="mr-2" 
                        shape="circle"
                    />
                </div>
                <div class="entry-content">
                    <span class="font-bold block mb-3">Add a comment</span>
                    <textarea 
                        class="w-full"
                        rows="6"
                        pInputTextarea 
                    >
                    </textarea>
                    <div class="flex justify-content-end mt-3 gap-2">
                        <p-button label="Accept Suggestion" size="small" severity="secondary" />
                        <p-button label="Comment" size="small" />
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Changes">
            <app-field-change
                [fieldName]="'Recipe Name'"
                [oldContent]="'Creamy Garlic Chicken'"
                [newContent]="'Creamy Garlic Chicken with Peanut Sauce'"
            />
            <app-field-change
                [fieldName]="'Instructions'"
                [oldContent]="'Yes'"
                [newContent]="'No'"
            />
        </p-tabPanel>
    </p-tabView>
</div>