<div class="max-w-65rem mx-auto">
    @if (!(isLoading$ | async)) {
        <div class="mb-3">
            <h1 class="text-3xl">{{ suggestion.title }} <span class="font-light">#{{ suggestion.id }}</span></h1>
            <div class="flex gap-2">
                <p-tag
                    [value]="suggestion.status"
                    [rounded]="true"
                    [severity]="suggestion.status == 'Open' ? 'success' : suggestion.status == 'Merged' ? 'warning' : 'danger'"
                    icon="pi pi-sort-alt"
                />
                <p>
                    {{ suggestion.createdBy }} suggested changes on {{ suggestion.createdAt | date: 'MMM d, y' }}
                </p>
            </div>
        </div>
    }

    <p-tabView>
        <p-tabPanel header="Discussion">
            @if (!(isLoading$ | async)) {
                <app-comment
                    [content]="suggestion.description"
                    [userPicture]="suggestion.userPicture"
                    [createdBy]="suggestion.createdBy"
                    [createdAt]="suggestion.createdAt"
                />

                @for (comment of comments; track comment.id) {
                    <app-comment
                        [content]="comment.content"
                        [userPicture]="comment.userPicture"
                        [createdBy]="comment.createdBy"
                        [createdAt]="comment.createdAt"
                    />
                }
            }

            <div class="entry-container">
                <div class="entry-avatar pt-1">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
                        styleClass="mr-2" 
                        shape="circle"
                    />
                </div>
                <div class="entry-content">
                    <span class="font-bold block mb-3">Add a comment</span>
                    <textarea class="w-full" rows="6" pInputTextarea [(ngModel)]="newComment"></textarea>
                </div>
            </div>
            <div class="flex justify-content-end mt-3 gap-2 pb-8">
                <div class="flex justify-content-center">
                    <p-menu #menu [model]="items" [popup]="true" />
                    <p-button
                        (onClick)="menu.toggle($event)"
                        icon="pi pi-ellipsis-v"
                        label="Actions"
                        severity="secondary"
                        size="small"
                    />
                </div>
                <p-button label="Comment" size="small" (click)="onSubmit()" />
            </div>
        </p-tabPanel>
        <p-tabPanel header="Changes">
            @if (!(isLoading$ | async)) {
                @for (field of modifiedFields; track field) {
                    <app-field-change
                        [fieldName]="field.charAt(0).toUpperCase() + field.slice(1)"
                        [oldContent]="getRecipeFieldContent(currentRecipe, field)"
                        [newContent]="getRecipeFieldContent(suggestion.recipeChanges, field)"
                    />
                }
            }
        </p-tabPanel>
    </p-tabView>
</div>