<div class="max-w-65rem mx-auto">
    @if (!(isLoading$ | async)) {
        <div class="mb-3">
            <h1 class="text-3xl">{{ suggestion.title }} <span class="font-light">#{{ suggestion.id }}</span></h1>
            <div class="flex gap-2">
                <p-tag
                    [value]="suggestion.status"
                    [rounded]="true"
                    severity="success"
                    icon="pi pi-sort-alt"
                />
                <p>
                    {{ suggestion.createdBy }} suggested changes on {{ suggestion.createdAt | date: 'MMM d, y' }}
                </p>
            </div>
        </div>
    }

    <p-tabView>
        <p-tabPanel header="Discussion">
            <app-comment />
            <app-comment />
            <app-comment />

            <div class="my-2 entry-container">
                <div class="entry-avatar pt-1">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
                        styleClass="mr-2" 
                        shape="circle"
                    />
                </div>
                <div class="entry-content">
                    <span class="font-bold block mb-3">Add a comment</span>
                    <textarea class="w-full" rows="6" pInputTextarea></textarea>
                    <div class="flex justify-content-end mt-3 gap-2">
                        <p-button label="Accept Suggestion" size="small" severity="success" />
                        <p-button label="Comment" size="small" />
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Changes">
            @if (!(isLoading$ | async)) {
                @for (field of modifiedFields; track field) {
                    <app-field-change
                        [fieldName]="field.charAt(0).toUpperCase() + field.slice(1)"
                        [oldContent]="getRecipeFieldContent(currentRecipe, field)"
                        [newContent]="getRecipeFieldContent(suggestion.recipeChanges, field)"
                    />
                }
            }
        </p-tabPanel>
    </p-tabView>
</div>