.entry-container {
    display: flex;
    padding-top: 16px;

    & > div.entry-avatar {
        position: relative;
        flex-shrink: 0;
        margin-right: 12px;
    }

    & > div.entry-content {
        position: relative;
        flex: 1 1 auto;
        min-width: 1px;
        word-wrap: break-word;
    }
}

::ng-deep .comment-container {
    padding-bottom: 0 !important;
}

.font-light {
    color: rgb(89, 99, 110);
}