<div class="max-w-50rem mx-auto">
    <div class="flex">
        <a href="" class="flex align-items-center gap-1" routerLink="../">
            <i class="pi pi-angle-left " style="font-size: 1rem; color: #ff5349"></i>
            <span class="mb-1 pt-1" style="font-size: 1rem; color: #ff5349">Back to recipes</span>
        </a>
    </div>

    <h1 class="font-bold text-4xl">Add a recipe</h1>
    <p>
        Recipes are Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        saepe, praesentium iste libero, voluptas aspernatur placeat totam quos.
        Exercitationem delectus ullam ab, incidunt, neque fugiat!
    </p>
    <p-divider class="w-full bg-surface-200"></p-divider>

    <form>
        <div class="grid mt-2">
            <div class="col-12 md:col-4 flex flex-column gap-2">
                <label class="font-bold">Collection</label>
                <p-dropdown 
                    [options]="collections" 
                    optionLabel="name" 
                    placeholder="Select a City" />
            </div>

            <div class="col-12 md:col-8 flex flex-column gap-2">
                <label class="font-bold">Recipe Name</label>
                <input type="text" pInputText />
            </div>
        </div>

        <div class="grid mt-2">
            <div class="col-12 flex flex-column gap-2">
                <label class="font-bold">Description</label>
                <app-editor
                    [editorName]="'description'"
                    [placeholder]="'Write a description of your recipe'"
                />
            </div>
        </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="grid mt-2">
            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Servings</label>
                <p-inputNumber 
                    inputId="minmax" 
                    mode="decimal" 
                    [min]="0" 
                    [max]="100" /> 
            </div>

            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Prep Time</label>
                <p-inputNumber 
                    inputId="mins"
                    suffix=" mins" /> 
            </div>

            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Cook Time</label>
                <p-inputNumber 
                    inputId="mins"
                    suffix=" mins" /> 
            </div>
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="my-5 flex flex-column gap-2">
            <label class="font-bold">Ingredients</label>
            <app-editor
                [editorName]="'ingredients'"
                [placeholder]="'Write some ingredients...'"
            />
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="my-5 flex flex-column gap-2">
            <label class="font-bold">Instructions</label>
            <app-editor
                [editorName]="'instructions'"
                [placeholder]="'Write some instructions...'"
                [initialContent]="'<ol><li></li></ol>'"
            />
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="grid mt-2">
            <div class="col-12 pb-0">
                <span class="font-bold">Nutritional Information</span>
            </div>

            <div class="col-4 md:col-3">
                <div class="flex flex-column gap-2">
                    <label>Calories</label>
                    <p-inputNumber 
                        inputId="kcal"
                        suffix=" kcal" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Protein</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Fat</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Fiber</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-5 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Carbohydrates</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="flex flex-column gap-2">
            <span class="font-bold mb-2">Upload a cover image</span>
             <p-fileUpload 
                mode="basic" 
                chooseLabel="Choose" 
                chooseIcon="pi pi-upload"
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" 
                maxFileSize="1000000" 
                (onUpload)="onUpload($event)" />
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="flex justify-content-end mb-8">
            <p-button label="Create Recipe" (click)="createRecipe()" />
         </div>
    </form>
</div>
