<div class="max-w-65rem mx-auto">
    <div class="flex">
        <a href="" class="flex align-items-center gap-1" routerLink="../">
            <i class="pi pi-angle-left " style="font-size: 1rem; color: #ff5349"></i>
            <span class="mb-1 pt-1" style="font-size: 1rem; color: #ff5349">Back to recipe</span>
        </a>
    </div>

    <h1 class="text-3xl">Make a suggestion</h1>
    <p>
        Recipes are Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        saepe, praesentium iste libero.
    </p>
    <p-divider class="w-full bg-surface-200"></p-divider>

    <form>
        <div class="flex w-full">
            <p-fieldset legend="Suggestion Details" class="flex-grow-1">
                <div class="col-12 flex flex-column p-0 gap-2 mb-4">
                    <label class="font-bold">Title</label>
                    <input type="text" pInputText />
                </div>

                <div class="col-12 flex flex-column p-0 gap-2">
                    <label class="font-bold">Description</label>
                    <textarea rows="4" cols="30" pInputTextarea></textarea>
                </div>
            </p-fieldset>
        </div>

        <p-divider class="w-full bg-surface-200"></p-divider>

        <h2 class="text-2xl mt-6 mb-0">Changes</h2>

        <div class="grid mt-2">
            <div class="col-12 flex flex-column gap-2">
                <label class="font-bold">Recipe Name</label>
                <input type="text" pInputText />
            </div>
        </div>

        <div class="grid mt-2">
            <div class="col-12 flex flex-column gap-2">
                <label class="font-bold">Description</label>
                <app-editor
                    [editorName]="'description'"
                    [placeholder]="'Write a description of your recipe'"
                />
            </div>
        </div>

        <p-divider class="w-full bg-surface-200"></p-divider>

        <div class="grid mt-2">
            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Servings</label>
                <p-inputNumber 
                    inputId="minmax" 
                    mode="decimal" 
                    [min]="0" 
                    [max]="100" /> 
            </div>

            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Prep Time</label>
                <p-inputNumber 
                    inputId="mins"
                    suffix=" mins" /> 
            </div>

            <div class="col-4 md:col-2 flex flex-column gap-2">
                <label class="font-bold">Cook Time</label>
                <p-inputNumber 
                    inputId="mins"
                    suffix=" mins" /> 
            </div>
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="my-5 flex flex-column gap-2">
            <label class="font-bold">Ingredients</label>
            <app-editor
                [editorName]="'ingredients'"
                [placeholder]="'Write some ingredients...'"
            />
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="my-5 flex flex-column gap-2">
            <label class="font-bold">Instructions</label>
            <app-editor
                [editorName]="'instructions'"
                [placeholder]="'Write some instructions...'"
                [initialContent]="'<ol><li></li></ol>'"
            />
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="grid mt-2">
            <div class="col-12 pb-0">
                <span class="font-bold">Nutritional Information</span>
            </div>

            <div class="col-4 md:col-3">
                <div class="flex flex-column gap-2">
                    <label>Calories</label>
                    <p-inputNumber 
                        inputId="kcal"
                        suffix=" kcal" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Protein</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Fat</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-4 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Fiber</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>

            <div class="col-5 md:col-2">
                <div class="flex flex-column gap-2">
                    <label>Carbohydrates</label>
                    <p-inputNumber 
                        inputId="g"
                        suffix=" g" /> 
                </div>
            </div>
         </div>

         <p-divider class="w-full bg-surface-200"></p-divider>

         <div class="flex justify-content-end mb-8">
            <p-button label="Submit Suggestion" />
         </div>

    </form>
</div>