<div class="my-2 max-w-full h-450px">
    <img
        [src]="recipe.coverPicture" 
        alt="Image" 
        class="max-w-full max-h-full" />
</div>

<main class="my-4">
    <div class="flex flex-wrap column-gap-4 justify-content-between align-items-baseline">
        <div>
            <h1 class="text-3xl mb-0">{{ recipe.name }}</h1>
            <p class="mb-1">by <a href="">james.esg</a></p>
            <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false" />
        </div>
        <div class="flex gap-2 mt-3 md:mt-0">
            <div>
                <i class="pi pi-clock" style="color: black"></i>
                <span>
                    <span class="font-bold ml-2">PREP:</span>
                    {{ recipe.prepTime }} mins
                </span>
            </div>

            <div class="pb-3">
                <span>
                    <span class="font-bold ml-2">COOK:</span>
                    {{ recipe.cookTime }} mins
                </span>
            </div>
        </div>
    </div>

   

    <p class="py-5">{{ recipe.description }}</p>
</main>

<section class="my-4">
    <h2 class="text-2xl">Ingredients</h2>
    <app-editor
        [editorName]="'ingredientsContent'" 
        [initialContent]="ingredients"
        [isReadOnly]="true"
        [editorHeight]="'auto'"
     />
</section>

<section class="my-4 pt-3">
    <h2 class="text-2xl">Instructions</h2>
    <app-editor
        [editorName]="'instructionsContent'" 
        [initialContent]="instructions"
        [isReadOnly]="true"
        [editorHeight]="'auto'"
    />
</section>

<section class="my-4">
    <h2 class="text-xl pb-3">Nutrition</h2>

    @if (screenSize === 'sm') {
        <div class="w-full">
            <table class="w-full">
                <tbody>
                    <tr class="description-row">
                        <td class="description-label">Servings</td>
                        <td class="description-content">{{ recipe.servings }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Calories</td>
                        <td class="description-content">{{ recipe.calories }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Protein</td>
                        <td class="description-content">{{ recipe.protein }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fat</td>
                        <td class="description-content">{{ recipe.fat }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fiber</td>
                        <td class="description-content">{{ recipe.fiber }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Carbohydrates</td>
                        <td class="description-content">{{ recipe.carbohydrates }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    } @else {
        <div class="w-full">
            <table class="w-full">
                <tbody>
                    <tr class="description-row">
                        <td class="description-label">Servings</td>
                        <td class="description-content">{{ recipe.servings }}</td>
                        <td class="description-label">Calories</td>
                        <td class="description-content">{{ recipe.calories }}</td>
                        <td class="description-label">Protein</td>
                        <td class="description-content">{{ recipe.protein }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fat</td>
                        <td class="description-content">{{ recipe.fat }}</td>
                        <td class="description-label">Fiber</td>
                        <td class="description-content">{{ recipe.fiber }}</td>
                        <td class="description-label">Carbohydrates</td>
                        <td class="description-content">{{ recipe.carbohydrates }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

</section>
   
<p-divider class="w-full bg-surface-200"></p-divider>

<section id="review-form" class="mt-7 p-4">
    <h3 class="text-2xl">Leave a review</h3>
    <form action="">
        <div class="flex flex-column gap-3">
            <p-rating [(ngModel)]="value" [cancel]="false" name="value" />
        </div>

        <div class="flex flex-column gap-2 my-4">
            <label for="" class="font-bold">Review *</label>
            <textarea rows="4" cols="30" pInputTextarea></textarea>
        </div>
        <p-button label="Post Review" icon="pi pi-comment" />
    </form>
</section>

<section class="my-7">
    <h3 class="text-2xl">Reviews</h3>
    <app-comment />
    <app-comment />

    <app-comment />

</section>