<div class="my-2 max-w-full h-450px">
    <div class="image-container">
        <img
            [src]="recipe.coverPicture" 
            alt="Image" 
            class="max-w-full max-h-full responsive-image border-round" />
    </div>
</div>

<main class="my-4">
    <div class="flex flex-wrap column-gap-4 justify-content-between align-items-baseline">
        <div>
            <div class="flex align-items-baseline gap-2">
                <h1 class="text-3xl mb-0">{{ recipe.name }}</h1>

                <button
                    pButton
                    type="button"
                    icon="pi pi-pencil"
                    class="p-button-text p-button-plain p-2 px-1"
                    [label]="screenSize === 'sm' ? '' : 'Edit'"
                    routerLink="edit">
                </button>
            </div>
            <p class="mb-2">published by <a href="">{{ recipe.createdBy }}</a> on {{ recipe.createdAt | date }}</p>
            <p-rating [(ngModel)]="averageRating" [readonly]="true" [cancel]="false" class="mt-2" />
        </div>
        <div class="flex gap-2 mt-3 md:mt-0">
            <div>
                <i class="pi pi-clock" style="color: black"></i>
                <span>
                    <span class="font-bold ml-2">PREP:</span>
                    {{ recipe.prepTime }} mins
                </span>
            </div>

            <div class="pb-3">
                <span>
                    <span class="font-bold ml-2">COOK:</span>
                    {{ recipe.cookTime }} mins
                </span>
            </div>
        </div>
    </div>

   

    <p class="py-5">{{ recipe.description }}</p>
</main>

<section class="my-4">
    <h2 class="text-2xl">Ingredients</h2>
    <app-editor
        [editorName]="'ingredientsContent'" 
        [initialContent]="ingredients"
        [isReadOnly]="true"
        [editorHeight]="'auto'"
     />
</section>

<section class="my-4 pt-3">
    <h2 class="text-2xl">Instructions</h2>
    <app-editor
        [editorName]="'instructionsContent'" 
        [initialContent]="instructions"
        [isReadOnly]="true"
        [editorHeight]="'auto'"
    />
</section>

<section class="my-4">
    <h2 class="text-xl pb-3">Nutrition</h2>

    @if (screenSize === 'sm') {
        <div class="w-full">
            <table class="w-full">
                <tbody>
                    <tr class="description-row">
                        <td class="description-label">Servings</td>
                        <td class="description-content">{{ recipe.servings }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Calories</td>
                        <td class="description-content">{{ recipe.calories }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Protein</td>
                        <td class="description-content">{{ recipe.protein }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fat</td>
                        <td class="description-content">{{ recipe.fat }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fiber</td>
                        <td class="description-content">{{ recipe.fiber }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Carbohydrates</td>
                        <td class="description-content">{{ recipe.carbohydrates }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    } @else {
        <div class="w-full">
            <table class="w-full">
                <tbody>
                    <tr class="description-row">
                        <td class="description-label">Servings</td>
                        <td class="description-content">{{ recipe.servings }}</td>
                        <td class="description-label">Calories</td>
                        <td class="description-content">{{ recipe.calories }}</td>
                        <td class="description-label">Protein</td>
                        <td class="description-content">{{ recipe.protein }}</td>
                    </tr>
                    <tr class="description-row">
                        <td class="description-label">Fat</td>
                        <td class="description-content">{{ recipe.fat }}</td>
                        <td class="description-label">Fiber</td>
                        <td class="description-content">{{ recipe.fiber }}</td>
                        <td class="description-label">Carbohydrates</td>
                        <td class="description-content">{{ recipe.carbohydrates }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

</section>
   
<p-divider class="w-full bg-surface-200"></p-divider>

<section class="mt-7 p-4 card shadow-1">
    <h3 class="text-xl">Leave a review</h3>
    <form action="" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column gap-3">
            <p-rating formControlName="rating" [cancel]="false" name="value" />
            @if (reviewForm.controls['rating'].invalid && reviewForm.controls['rating'].dirty) {
                <small id="username-help" class="ng-dirty ng-invalid">
                    Rating cannot be 0.
                </small>
            }
        </div>

        <div class="flex flex-column gap-2 my-4">
            <label for="" class="font-semibold">Review</label>
            <textarea rows="4" cols="30" pInputTextarea formControlName="review"></textarea>
            @if (reviewForm.controls['review'].invalid && reviewForm.controls['review'].dirty) {
                <small id="username-help" class="ng-dirty ng-invalid">
                    Review is required.
                </small>
            }
        </div>
        <p-button type="submit" label="Post Review" icon="pi pi-comment" [disabled]="reviewForm.invalid" />
    </form>
</section>

@if (reviews.length !== 0) {
    <section class="my-7">
        <h3 class="text-2xl">Reviews</h3>
        
        @for (review of reviews; track review.id) {
            <app-comment
                [content]="review.content"
                [rating]="review.rating"
                [createdBy]="review.createdBy"
                [userPicture]="review.userPicture"
                [userId]="review.userId"
                [createdAt]="review.createdAt"
            />
        }
    
    </section>
}