ul, ol {
    padding-inline-start: 0 !important;
    list-style-position: inside;
}

.bg-gray {
    background-color: #fafafa;
}

.border-gray {
    border: 1px solid #f0f0f0;
}

table {
    table-layout: auto;
    border-collapse: collapse;
}

.description-row {
    border: 1px solid #f0f0f0;

    & > td.description-label {
        background-color: #fafafa;
        padding: 16px 24px;
        border-right: 1px solid #f0f0f0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        line-height: 1.5715;
        text-align: start;
    }

    & > td.description-content {
        padding: 16px 24px;
        border-right: 1px solid #f0f0f0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        line-height: 1.5715;
        text-align: start;
    }
}

:host ::ng-deep .ql-editor ol, 
:host ::ng-deep .ql-editor li {
    padding-left: 0 !important;
}

:host ::ng-deep .ql-snow .ql-editor h1,
:host ::ng-deep .ql-snow .ql-editor h2,
:host ::ng-deep .ql-snow .ql-editor h3,
:host ::ng-deep .ql-snow .ql-editor h4,
:host ::ng-deep .ql-snow .ql-editor p {
    margin-left: -16px;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 768px) {
    .image-container {
        height: 500px;
    }
}