.toolbar {
    padding: 1.25rem;
    border-radius: 6px;
    gap: 0.5rem;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    margin: 0px !important;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .image-container {
        width: 350px;
        height: 120px;
    }
}

::ng-deep .p-dataview-emptymessage {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}