@import '../../../../assets/layout/styles/layout/variables';

img {
    min-height: 180px !important;
}

::ng-deep .p-card-title {
    font-weight: normal;
    font-family: $font;
    font-size: 12px;
}

::ng-deep .p-card-subtitle {
    font-size: 20px;
    font-weight: 400;
    font-family: $font;
    color: #000;
}

::ng-deep .p-card.p-component {
    height: 100%;
    display: block;
    min-height: 335px;
}

.max-w-55rem {
    max-width: 55rem;
}

.toolbar {
    padding: 1.25rem;
    border-radius: 6px;
    gap: 0.5rem;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    margin: 0px !important;
}