<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="max-w-65rem mx-auto">
            <div class="toolbar grid">
                <div class="flex-grow-1">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            placeholder="Find a collection"
                            class="w-full"
                            [(ngModel)]="searchTerm"
                            (input)="filterCollections()"
                        />
                    </span>
                </div>
                
                <div>
                    <p-dropdown 
                        class="mr-2"
                        [options]="visibilityOptions" 
                        [(ngModel)]="visibilityFilter"
                        (onChange)="filterCollections()"
                        optionLabel="name" 
                        placeholder="Type" />

                    <p-dropdown 
                        class="mr-2"
                        [options]="sortOptions" 
                        [(ngModel)]="sortOption" 
                        (onChange)="filterCollections()"
                        optionLabel="name" 
                        placeholder="Sort" />

                    <p-button icon="pi pi-plus" (click)="showModal()" />
                </div>
            </div>

            @for(collection of filteredCollections; track collection.id) {
                <div class="mt-5 px-1" #collections>
                    <div>
                        <div class="flex align-items-baseline">
                            <a class="text-base mb-2" [routerLink]="collection.id">{{ collection.name }}</a>
                            
                            @if (!collection.isVisible) {
                                <i class="pi pi-lock ml-2" style="font-size: 0.8rem"></i>
                            }
                        </div>
                        <p class="font-light text-base">{{ collection.description }}</p>
                    </div>
                </div>
                <p-divider />
            }

            <div *ngIf="isLoading$ | async" class="flex justify-content-center align-items-center mt-8">
                <p-progressSpinner 
                    styleClass="w-4rem h-4rem" 
                    strokeWidth="7" 
                    animationDuration="1s" />
            </div>

            @if (filteredCollections.length === 0 && !(isLoading$ | async)) {
                <div class="flex justify-content-center mt-5">
                    <p>No collections to show</p>
                </div>
            }

        </div>
    </div>
</div>

<app-modal
    (hide)="hideAddModal()"
    [isVisible]="isAddModalVisible"
    [title]="'Create a new collection'"
    [subtitle]="'Create a collection to store your recipes'"
>
    <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column gap-2 mb-4">
            <label for="name" class="font-semibold w-6rem">Name</label>
            <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
            @if (collectionForm.controls.name.invalid && collectionForm.controls.name.dirty) {
                <small id="username-help" class="ng-dirty ng-invalid">
                    Name is required.
                </small>
            }
        </div>
        <div class="flex flex-column gap-2 mb-5">
            <label for="description" class="font-semibold w-6rem">Description</label>
            <textarea id="description" rows="2" cols="45" pInputTextarea formControlName="description"></textarea>
        </div>

        <div class="flex flex-column gap-3">
                <div *ngFor="let category of categories" class="field-checkbox gap-1">
                    <p-radioButton 
                        [inputId]="category.key" 
                        name="isVisible" 
                        [value]="category.isVisible"
                        formControlName="isVisible" />
                    <label [for]="category.key" class="ml-2 flex align-items-center gap-2">
                        <i class="pi" [class]="category.icon" style="font-size: 1.8rem"></i>

                        <div>
                            <span class="font-semibold">{{ category.name }}</span>
                            <p class="text-sm">{{ category.description }}</p>
                        </div>
                    </label>
                </div>
        </div>
        
        @if (showMessage) {
            <p-messages
                [(value)]="messages"
                [enableService]="false"
                [closable]="false" 
            />
        }
    
        <div class="flex justify-content-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" [text]="true" (onClick)="isAddModalVisible = false" />
            <p-button label="Save" type="submit" [disabled]="collectionForm.invalid" />
        </div>
    </form>

</app-modal>