<li>
    <div class="mb-3">
        <p-avatar 
            label="U" 
            styleClass="mr-2" 
            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
            shape="circle"
        />
        <span class="text-900 font-medium mr-2 mb-1 md:mb-0 fs-accent">James Esg</span>
    </div>
    <div class="flex flex-column md:flex-row md:justify-content-between mb-4 gap-6">
        <div>
            <h3 class="text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum exercitationem odit dolorem aliquam dolor cupiditate ex, porro iusto aspernatur</p>
            
        </div>

        <div class="mt-2 md:mt-0 flex align-items-center">
            <div class="surface-300 border-round overflow-hidden w-12rem">
                <p-image
                    src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                    alt="Image" 
                    height="100%"
                    width="100%"></p-image>
            </div>
        </div>
    </div>
</li>