<div class="comment-container">
    <div class="comment-avatar pt-1">
        <p-avatar 
            [image]="userPicture" 
            styleClass="mr-2" 
            shape="circle" />
    </div>

    <div class="comment-content">
        <div class="comment-author">
            <a [routerLink]="['/profile', userId]">
                <span class="author-name link">{{ createdBy }}</span>
            </a>
            <span class="comment-date">{{ createdAt | date }}</span>
        </div>

        <p class="mb-1">{{ content }}</p>
        <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false" />
    </div>

</div>