<!-- <div class="grid">
    <div class="col-1 border-solid pr-0">
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
            styleClass="mr-2" 
            shape="circle" />
    </div>

    <div class="col-11 border-solid pl-0">
        <div class="flex flex-column">
            <div class="flex align-items-baseline gap-2">
                <span class="text-sm">Han Solo</span>
                <span class="text-xs">June 7, 2023</span>
            </div>

        </div>
    </div>
</div> -->

<div class="comment-container">
    <div class="comment-avatar pt-1">
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
            styleClass="mr-2" 
            shape="circle" />
    </div>

    <div class="comment-content">
        <div class="comment-author">
            <span class="author-name">Han Solo</span>
            <span class="comment-date">June 5, 2000</span>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugit asperiores aperiam, reprehenderit perferendis eum voluptatem quia! Debitis facilis commodi dolore libero? Unde voluptatibus illum neque voluptatum, ipsum non cupiditate!</p>

        <div class="comment-actions mt-3">
            <span class="pi pi-thumbs-up cursor-pointer" style="font-size: 0.8rem"></span> <span class="pl-2">0</span>
            <span class="pi pi-thumbs-down cursor-pointer pl-3" style="font-size: 0.8rem"></span> <span class="pl-2">0</span>
        </div>
    </div>

</div>