.comment-container {
    display: flex;
    padding: 16px 0;

    & > div.comment-avatar {
        position: relative;
        flex-shrink: 0;
        margin-right: 12px;
    }

    & > div.comment-content {
        position: relative;
        flex: 1 1 auto;
        min-width: 1px;
        word-wrap: break-word;

        & > div.comment-author {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 4px;

            & > a span.author-name {
                padding-right: 8px;
                font-size: 12px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.45);
            }

            & > span.comment-date {
                padding-right: 8px;
                font-size: 12px;
                color: #ccc;
                line-height: 18px;
            }
        }
    }
}

:host ::ng-deep .p-rating .p-rating-item .p-rating-icon.p-icon {
    width: 0.8rem;
    height: 0.8rem;
}

:host ::ng-deep p-rating div.p-rating > div:not(.p-rating-item-active) {
    display: none;
}