<div class="flex mb-4 gap-2">
    <div class="flex-grow-1">
        <input
            type="text"
            pInputText
            class="min-w-full"
            [(ngModel)]="searchTerm"
            (input)="filterCollections()"
        />
    </div>

    <div class="flex">
        <button 
            pButton 
            pRipple 
            label="New"
            routerLink="suggest"
        >
        </button>
    </div>
</div>

<div>
    @if (suggestions.length == 0) {
        <div class="flex justify-content-center col-12 mt-2">
            No suggestions to show.
        </div>
    }
    @for(suggestion of filteredSuggestions; track suggestion.id) {
        <div class="px-1">
            <div class="flex gap-2">
                <div class="flex gap-3">
                    @if (suggestion.status == 'Open') {
                        <i class="pi pi-sort-alt mt-1" style="color: #22c55e"></i>
                    } @else if (suggestion.status === 'Merged') {
                        <i class="pi pi-sync mt-1" style="color: #fc701c"></i>
                    } @else {
                        <i class="pi pi-sort-alt-slash mt-1" style="color: red"></i>
                    }
                </div>

                <div class="flex flex-column">
                    <a class="text-base link" [routerLink]="['suggestions', suggestion.id]">{{ suggestion.title }}</a>
                    <p class="font-light text-base mt-2">opened {{ suggestion.createdAt | date }} by {{ suggestion.createdBy }}</p>
                </div>
            </div>
        </div>
        <p-divider />
    }
</div>
