$gutter: 1rem;
@import "assets/layout/styles/layout/layout.scss";

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import '../src/assets/layout/styles/layout/variables';

.p-dialog,
.p-confirm-dialog,
.p-sidebar,
.p-inputtext,
.p-dropdown,
.p-dropdown-items,
.p-message-wrapper,
.p-menuitem-content,
.p-tabview-nav,
.p-tabview-panel,
.p-toast-message,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Plus Jakarta Sans', 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

.p-button,
.p-inputtext,
.p-dropdown-item,
.p-element,
.p-tabview-title,
.p-toast-detail,
.p-message-detail
.p-inputtextarea {
    font-family: inherit !important;
}


.fs-accent {
    font-family: $font;
}

h1, h2, h3, h4, h5 {
    font-family: $font;
}

.p-progress-spinner-circle {
    stroke: #ff5349 !important;
}

.max-w-65rem {
    max-width: 65rem;
}

.link {

    &:hover {
        text-decoration: underline;
    }
}