@import '../../../assets/layout/styles/layout/variables';

#promo {
    font-family: $font;
}

.text-light-orange {
    color: #fdebe8;
}

::ng-deep .p-button {
    color: #ff5349;
    background-color: #fdebe8;
    border: none;
}