<div class="grid">
        <div class="col-12 xl:col-8">
            <div class="card">
                
                <ul class="list-none p-0 m-0">
                    <app-post />
                    <p-divider />
                    <app-post />
                    <p-divider />
                    <app-post />
                    <p-divider />
                    <app-post />
                    <p-divider />
                    <app-post />
                    <p-divider />
                </ul>
            </div>
        </div>

        <div class="col-12 xl:col-4">
            <div id="promo" class="px-4 py-5 shadow-2 flex flex-column md:flex-row xl:flex-column md:align-items-center xl:align-items-start justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(255, 83, 72, 0.5), rgba(255, 83, 72, 0.5)), linear-gradient(92.54deg, #ff5349 47.88%, #FFFFFF 100.01%)'}">
                <div>
                    <div class="text-light-orange font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
                    <div class="text-white font-medium text-5xl mb-3">Try Kitchenette</div>
                </div>
                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                    <a target="_blank" href="https://www.primefaces.org/primeblocks-ng" class="p-button font-bold px-5 py-3 p-button-rounded p-button-raised">
                        Get Started
                    </a>
                </div>
             </div>

            <div class="card">
                <div class="mb-4">
                    <h5>Notifications</h5>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your product.</span></span>
                    </li>
                </ul>
            </div>
    </div>
</div>

