<div class="grid max-w-85rem mx-auto">
        <div class="col-12 xl:col-8">
            <div class="card">
                @if (!(isLoading$ | async)) {
                    @for (recipe of recipes; track recipe.id) {
                        <ul class="list-none p-0 m-0">
                            <app-post
                                [createdBy]="recipe.createdBy"
                                [userPicture]="recipe.userPicture"
                                [title]="recipe.name"
                                [description]="recipe.description"
                                [photo]="recipe.coverPicture"
                                [idLink]="recipe.id"
                                [userId]="recipe.userId"
                            />
                            <p-divider />
                        </ul>
                    }
                } @else {
                    <div class="grid grid-nogutter">
                        <div class="col-12" *ngFor="let i of counterArray(5); let first = first" class="col-12">
                            <div class="flex flex-column md:flex-row xl:align-items-start py-4 px-0 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <div class="flex flex-column md:flex-row justify-content-between align-items-start flex-1 gap-4">
                                    <div class="flex flex-column align-items-start gap-2">
                                        <p-skeleton styleClass="w-6rem border-round h-1rem" />
                                        <p-skeleton styleClass="w-12rem border-round h-1rem" />
                                        <p-skeleton styleClass="w-14rem border-round h-1rem" />
                                        <p-skeleton styleClass="w-18rem border-round h-1rem" />
                                    </div>
                                </div>
                                <p-skeleton styleClass="w-full md:w-14rem h-10rem md:h-10rem block xl:block border-round" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-12 xl:col-4">
            <div id="promo" class="px-4 py-5 shadow-2 flex flex-column md:flex-row xl:flex-column md:align-items-center xl:align-items-start justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(255, 83, 72, 0.5), rgba(255, 83, 72, 0.5)), linear-gradient(92.54deg, #ff5349 47.88%, #FFFFFF 100.01%)'}">
                <div>
                    <div class="text-light-orange font-medium text-md mt-2 mb-3">I'D LOVE YOUR FEEDBACK</div>
                    <div class="text-white font-medium text-xl mb-3">Have any thoughts, suggestions, or feedback? Let me know what you think!</div>
                </div>
                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                    <a href="https://github.com/jamesesguerra/kitchenet-ui" target="_blank">
                        <p-button
                            icon="pi pi-github"
                            label="Source Code"
                            [raised]="true"
                            [rounded]="true"
                            class="font-bold py-3 source-code"
                        />
                    </a>
                </div>
             </div>

            <div class="card">
                <div class="mb-4">
                    <h5>Explore Collections</h5>
                </div>

                <ul class="p-0 mx-0 mt-0 mb-2 list-none">
                    @for (collection of collections; track collection.id) {
                        <li class="py-3 border-bottom-1 surface-border">
                            <div class="flex align-items-center mb-2">
                                <p-avatar 
                                    styleClass="mr-2" 
                                    [image]="collection.userPicture"
                                    shape="circle"
                                />
                                <a
                                    [routerLink]="['/collections', collection.id]"
                                    class="text-900 block mb-2 link"
                                >{{ collection.createdBy }} / {{ collection.name }}</a>
                            </div>
    
                            <div class="text-xs text-gray-500">{{ collection.description }}</div>
                        </li>
                    }
                </ul>
            </div>
    </div>
</div>

